.mainheader {
    position: relative;
    margin-top: 84px;
}

.page-heading {
    background-image: url("images/keyb.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed; */
    background-size: cover;
    background-color: #ffffff;
    min-height: 530px;
    position: relative;
    color: #fff;
    opacity: 0.8;
}

.headerNavFixed {
    background: rgba(255, 255, 255, 0.9);
    font-size: 16px;
    min-height: 72px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    font-family: Roboto,Arial,Tahoma,Verdana;
}

.navbarCustom {
    margin-top: 12px;
    margin-right: -52px;
}
.navbar-brand {
    height: auto;
    padding: 9px 0px;
}
.navbar-inst {
    font-family: georgia, serif;
    /*background-color: #0c74ff;*/
    /*background-color: #FDFDFD; /*#007342;*/
    font-size: 14px;
    border-color: #FDFDFD;
}
.navbar-nav a {
    color: #343434;
}

.buttActive a:hover {
    background: none!important;
    color: #dadada;
}

.centrTitle {
    padding-top: 80px;
    font-family: Roboto,Arial,Tahoma,Verdana;
}
.centrTitleCaption {
    font-size: 38px;
    margin-bottom: 25px;
}
.centrTitleSubcaption {
    font-size: 20px;
    margin-bottom: 12px;
}
.centrTitleText {
    font-size: 16px;
}
.serviceCaption {
    text-align: center;
    margin: 36px 0;
}

.serviceTitle {
    font-size: 18px;
    text-align: center;
    padding: 22px 0;
    color: #5b5b5b;
}
.companyServiceContent {
    color: #5b5b5b;
    font-size: 15px;

}
.serviceCaption {
    font-family: Roboto,Arial,Tahoma,Verdana;
}
.serviceBorder {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    height: 210px;
}
.technologiesViewBorder {
    border-left: 1px solid #999;
    height: 100%;



}
.technologiesViewTitle {
    color: #7889a7;
    width: 215px;
    padding-left: 40px;
    font: 400 28px "Roboto Bold",Arial,Tahoma,Verdana;

}
.img-responsive {
    max-width: 100%;
    height: auto;
}




.technologiestabs {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
.technologiestabs li {
    /*border: 1px solid #999;
    border-bottom: none;*/
    background: none;
}

.technologiestabs li a {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    color: #7889a7;
    text-decoration: none;
}

.technologiestabs li a:hover {
    background: #dedede;
}

.technologiestabs li.active,
.technologiestabs li.active a:hover {
    font-weight: bold;
    background: none;
}

.technologiestab_container {
    border: 1px solid #999;
    border-top: none;
    border-bottom: none ;
    background: #fff;
}

.technologiestab_content {
    padding: 20px;
    font-size: 16px;
    width: 100%;
}
.technologiesWrapp {
    border-top: 1px solid #e3e3e3;
    padding-top: 26px;
    height: auto;
}

.value {
    background-image: url("images/value.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed; */
    background-size: cover;
    background-color: #ffffff;
    min-height: 530px;
    position: relative;
    color: #fff;
    opacity: 0.8;
}
.values {
    text-align: center;
    margin: 0 auto;
}
.values ul {
    display: inline-block;
}

.values li {
    float:left;
}




.valueTitletext {
    color: #000000;
    font-family: Roboto,Arial,Tahoma,Verdana;
    text-align: center;
    margin: 36px 0;
    font-size: 30px;

}
.valueicon {

}
.valuetabs {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;

}

.valuetabs li {
    float: left;
    border-bottom: none;
    background: none;
}

.valuetabs li a {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    color: #000;
    text-decoration: none;
}

.valuetabs li a:hover {
    background: none;
}

.valuetabs li.active,
.valuetabs li.active a:hover {
    font-weight: bold;
    background: none;
}

.value_container {
    border-top: none;
    background: none;
}

.value_content {
    padding: 20px;
    font-size: 16px;

}

.img-value {
    max-width: 90px;
    height: auto;
    cursor: pointer;
}
.valueCore {
    text-align: center;
    width: 100%;
    color: #222222;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.valueCoreText {
    text-align: center;
    width: 100%;
    color: #222222;
    font-size: 22px;
}











































.contact-section {
    padding-top: 0px;
    background: #292929;
}

.contactInfo {
    text-align: left;
}
.contactTitle {
    color:#ffffff;
    margin-left:38px;
    padding-top: 15px;
}

.bottom-contact {
    /*text-align: right;*/
    padding-top: 17px;
    text-align: left;
}


.bottom-info li {
    /*display: inline-block;*/
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 0px;
    font-size: 18px;
    white-space: nowrap;
    list-style-type: none;
}
.bottom-info a {
    color: #B0B0B0;
}
.bottom-info span {
    color: #B0B0B0;
}

.glyphicon-earphone, .glyphicon-envelope, .glyphicon-paperclip {
    color: #B0B0B0;
    top: 4px;
}







.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:450px;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.map-left {
    padding-left: 0px;
}









@font-face {
    font-family: "a_AntiqueTitulGr";
    src: url("fonts/a_AntiqueTitulGr.TTF") format("truetype");
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family: "Tahoma";
    src: url("fonts/Tahoma.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}
































