.mainheader {
    position: relative;
    margin-top: 72px;
}

.page-heading {
    background-image: url("images/keyb.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed; */
    background-size: cover;
    background-color: #ffffff;
    min-height: 530px;
    position: relative;
    color: #fff;
    opacity: 0.9;
}

.headerNavFixed {
    background: rgba(255, 255, 255, 0.9);
    font-size: 16px;
    min-height: 72px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    font-family: Roboto,Arial,Tahoma,Verdana;
}

.navbarCustom {
    margin: 10px -52px 0 0;
}
.navbar-brand {
    padding: 2px 0;
}
.navbar-inst {
    font-family: Roboto,Arial,Tahoma,Verdana;
    /*background-color: #0c74ff;*/
    /*background-color: #FDFDFD; !*#007342;*/
    font-size: 14px;
    border-color: #FDFDFD;
}
.navbar-nav a {
    color: #343434;
}

.buttActive a:hover {
    background: none!important;
    color: #dadada;
}

.centrTitle {
    padding-top: 80px;
    font-family: Roboto,Arial,Tahoma,Verdana;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: #FFFFFF;
}

.centrTitleCaption {
    font-size: 38px;
    margin-bottom: 25px;
}
.centrTitleSubcaption {
    font-size: 20px;
    margin-bottom: 12px;
}
.centrTitleText {
    font-size: 16px;
}
.serviceCaption {
    text-align: center;
    margin: 36px 0;
}

.serviceTitle {
    font-size: 18px;
    text-align: center;
    padding: 22px 0;
    color: #5b5b5b;
    font-family: Roboto,Arial,Tahoma,Verdana;
}
.companyServiceContent {
    color: #5b5b5b;
    font-size: 15px;
    margin: 0 5%;
    font-family: Roboto,Arial,Tahoma,Verdana;
}
.companyServiceContent p {
    margin: 0 0 45px 0;
}

.serviceCaption {
    font-family: Roboto,Arial,Tahoma,Verdana;
}
.serviceBorder1 {
    border-top: 1px solid #e1e1e1;
    /*border-bottom: 1px solid #e1e1e1;*/
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;

}
.serviceBorder2 {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;

}

.technoPadding {
    padding: 25px 0;
}
.technologiesViewBorder {

}
.technologiesViewTitle {
    color: #7889a7;
    /*width: 215px;*/
    margin: 150px 0 0 60px;
    font: 400 28px "Roboto Bold",Arial,Tahoma,Verdana;
}
.technologiesViewTitle2 {
    color: #7889a7;
    /*width: 215px;*/
    margin: 120px 0 0 60px;
    font: 400 28px "Roboto Bold",Arial,Tahoma,Verdana;
}
.technologiesViewTitle3 {
    color: #7889a7;
    /*width: 215px;*/
    margin: 70px 0 0 60px;
    font: 400 28px "Roboto Bold",Arial,Tahoma,Verdana;
}
.navbar-brand .img-responsive {
    max-width: 265px;
    height: auto;
}

.technologiesWrapp {
    border-top: 1px solid #e3e3e3;
    height: 395px;
}
.technologiesWrapp2 {
    border-top: 1px solid #e3e3e3;
    height: 302px;
}
.technologiesWrapp3 {
    border-top: 1px solid #e3e3e3;
    height: 268px;
}
.technologiestab_container {
    /*border-left: 2px solid #005aff;*/
    /*background: #fff;*/
    /*border-right: 2px solid #005aff;*/
    /*height: 250px;*/
}
.technologiesText {
    padding-top: 48px;
    height: 344px;
    border-right: 2px solid #005aff;
    border-left: 2px solid #005aff;
}
.technologiesText2 {
    padding-top: 18px;
    height: 250px;
    border-right: 2px solid #005aff;
    border-left: 2px solid #005aff;

}
.technologiesText3 {
    padding-top: 10px;
    height: 215px;
    border-right: 2px solid #005aff;
    border-left: 2px solid #005aff;
}













/*Easy tabs Technologies key 1*/
.technologiestabs {
    margin: 0;
    padding: 0;
    list-style: none;
    /*overflow-y: scroll;*/
    /*height: 248px;*/
    /*position: absolute;*/
    /*left: 0;*/
    /*right: 0;*/
    /*top: 0;*/
    /*bottom: 0;*/
    border-left: 2px solid #005aff;
}
.technologiestabs li {
    /*border: 1px solid #999;
    border-bottom: none;*/
    background: none;
}

.technologiestabs li a {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    color: #7889a7;
    text-decoration: none;
}

.technologiestabs li a:hover {
    background: #dedede;
}

.technologiestabs li.active,
.technologiestabs li.active a:hover {
    font-weight: bold;
    background: none;
}
.technologiestab_content {
    padding: 20px;
    font-size: 16px;
    width: 100%;
    font-family: Roboto,Arial,Tahoma,Verdana;
}
/**/

/*Easy tabs Technologies key 2*/
.technologiestabs2 {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-y: scroll;
    height: 248px;
    /*position: absolute;*/
    /*left: 0;*/
    /*right: 0;*/
    /*top: 0;*/
    /*bottom: 0;*/
    border-left: 2px solid #005aff;
}
.technologiestabs2 li {
    /*border: 1px solid #999;
    border-bottom: none;*/
    background: none;
}

.technologiestabs2 li a {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    color: #7889a7;
    text-decoration: none;
}

.technologiestabs2 li a:hover {
    background: #dedede;
}

.technologiestabs2 li.active,
.technologiestabs2 li.active a:hover {
    font-weight: bold;
    background: none;
}
.technologiestab_content2 {
    padding: 20px;
    font-size: 16px;
    width: 100%;
    font-family: Roboto,Arial,Tahoma,Verdana;
}
/**/
/*Easy tabs Technologies key 2*/
.technologiestabs3 {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    /*height: 248px;*/
    /*position: absolute;*/
    /*left: 0;*/
    /*right: 0;*/
    /*top: 0;*/
    /*bottom: 0;*/
    border-left: 2px solid #005aff;
}
.technologiestabs3 li {
    /*border: 1px solid #999;
    border-bottom: none;*/
    background: none;
}

.technologiestabs3 li a {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    color: #7889a7;
    text-decoration: none;
}

.technologiestabs3 li a:hover {
    background: #dedede;
}

.technologiestabs3 li.active,
.technologiestabs3 li.active a:hover {
    font-weight: bold;
    background: none;
}
.technologiestab_content3 {
    padding: 20px;
    font-size: 16px;
    width: 100%;
    font-family: Roboto,Arial,Tahoma,Verdana;
}
/**/

.img-responsive {
    max-width: 100%;
    height: 75px;
}
.valuePosition {
    position: relative;
}
.technologiesPosition {
    position: relative;
    padding-bottom: 20px;
}
.valueCase {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.value {
    background-image: url("images/value.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed; */
    background-size: cover;
    background-color: #ffffff;
    min-height: 530px;
    position: relative;
    color: #fff;
    opacity: 0.5;
}
.values {
    text-align: center;
    margin: 0 auto;
    height: 119px;
}
.values ul {
    display: inline-block;
}

.values li {
    float:left;
}

.valueTitletext {
    color: #000000;
    font-family: Roboto,Arial,Tahoma,Verdana;
    text-align: center;
    margin: 36px 0;
    font-size: 30px;

}
.valueicon {

}
.valuetabs {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;

}

.valuetabs li {
    float: left;
    border-bottom: none;
    background: none;
    margin: 0 26px;
}

.valuetabs li a {
    display: block;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    text-decoration: none;
}

.valuetabs li a:hover {
    background: none;
}

.valuetabs li a .img-value:hover {
    /*transform: translateY(-10px);*/
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transition:  .3s ease-in-out;
}

.valuetabs li.active,
.valuetabs li.active a:hover {
    background: none;
    border-bottom: 2px solid #005aff;
}

.value_container {
    border-top: none;
    background: none;
}

.value_content {
    padding: 20px;
    font-size: 16px;
}

.img-value {
    max-width: 90px;
    height: auto;
    cursor: pointer;
    transform: translateY(0);
}

.valueCore {
    text-align: center;
    width: 100%;
    color: #222222;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-family: Roboto,Arial,Tahoma,Verdana;
}
.valueCoreText {
    text-align: center;
    width: 100%;
    color: #000000;
    font-size: 22px;
    font-family: Roboto,Arial,Tahoma,Verdana;
}

.emailWrap h3 {
    color: #ffffff;
    font-size: 20px;
    margin: 37px auto 42px;
    font-family: Roboto,Arial,Tahoma,Verdana;
}

.text-centr {
    text-align: center;
}
.contact-form input {
    color: #8c8c8c;
    margin-bottom: 10px;
}
.contact-form input, .contact-form button {
    height: 50px;
}
.contact-form button {
    background: #0060fe;
    color: #ffffff;
    transition: background 600ms;
    -moz-transition: background 600ms;
    -webkit-transition: background 600ms;
}
.contact-form button[disabled] {
    background: #f5f5f5;
    color: #bebebe;
    cursor: default;
}
.contact-form textarea {
    margin-bottom: 10px;
}


.contact-section {
    padding-top: 0px;
    background: #292929;
    font-family: Roboto,Arial,Tahoma,Verdana;
}

.contactInfo {
    text-align: left;
}
.contactTitle {
    color:#ffffff;
    margin-left:38px;
    padding-top: 15px;
    font-family: Roboto,Arial,Tahoma,Verdana;
}
.contactTitle h3 {
    font-family: Roboto,Arial,Tahoma,Verdana;
    font-size: 20px;
}


.bottom-contact {
    /*text-align: right;*/
    padding-top: 17px;
    text-align: left;
}

.bottom-info li {
    /*display: inline-block;*/
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 0px;
    font-size: 18px;
    white-space: nowrap;
    list-style-type: none;
}
.bottom-info a {
    color: #B0B0B0;
}
.bottom-info span {
    color: #B0B0B0;
}

.glyphicon-earphone, .glyphicon-envelope, .glyphicon-paperclip {
    color: #B0B0B0;
    top: 4px;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:395px;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.map-left {
    padding-left: 0px;
}

#back-to-top {
    position: fixed;
    z-index: 999;
    display: none;
    bottom: 2%;
    right: 15px;
    cursor: pointer;
}
#back-to-top i {
    width: 35px;
    height: 35px;
    display: block;
    color: #fff;
    background: #264796;
    text-align: center;
    font-size: 16px;
    line-height: 35px;
    border-radius: 5px;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -ms-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
}
#back-to-top i:hover {
    background: #4f565f;
}




@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Roboto Bold";
    src: url("fonts/Roboto-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}